body {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p,
li,
ul {
  margin: 0;
}

.header {
  background-color: #eee;
  border-bottom: 1px rgba(0, 0, 0, 0.6) solid;
  padding: 20px;
}

.title {
  font-size: 36px;
  line-height: 50px;
  color: black;
}

.accordion,
.header {
  width: 70vw;
  margin: 0 auto;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-item {
  width: 100%;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #2c3e50;
  font-weight: 800;
  cursor: pointer;
  align-items: center;
}

.accordion-title:hover {
  background: #1a252f;
}

.accordion-title::after {
  opacity: 0;
  content: "+";
  transition: opacity 0.35s, transform 0.5s 0.25s;
  text-align: center;
  font-size: 30px;
}

.accordion:hover .accordion-title::after {
  opacity: 1;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.meme {
  display: block;
  background-size: contain;
  width: 350px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  max-height: 0;
}

.meme-1 {
  background-image: url("../assets/images/gachi_1.jpg");
}

.meme-2 {
  background-image: url("../assets/images/gachi_2.jpg");
}

.meme-3 {
  background-image: url("../assets/images/gachi_3.jpg");
}

.meme-4 {
  background-image: url("../assets/images/gachi_4.jpg");
}

input:checked + .accordion-title {
  background-color: #1a252f;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: 10;
}

.label:hover + .accordion-title::after,
input:checked ~ .accordion-title::after {
  transform: rotate(45deg);
}

.label:hover ~ .accordion-content .meme,
input:checked ~ .accordion-content .meme {
  max-height: 100vh;
}
